<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <add name="InsuranceConnectionString1" connectionString="Data Source=WSLKCMP2FTR2-07\SQLEXPRESS;Initial Catalog=Insurance;Persist Security Info=True;User ID=sa;Password=password@1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />
    </system.web>

</configuration>
